<%= form_with(model: @stock) do |f| %>

  <% if @stock.errors.any? %>
    <div>
      <% @stock.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :product %>
    <%= f.collection_select :product_id, Product.all, :id, :name %>
  </div>

  <div>
    <%= f.label :action %>
    <%= f.select :action, Stock.actions.keys.map { |a| [a.capitalize, a] } %>
  </div>

  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div>
    <%= f.label :cost %>
    <%= f.number_field :cost, step: 0.01 %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>