<%= form_with(model: @stock, class: "form") do |f| %>

  <% if @stock.errors.any? %>
    <div class="alert alert-danger">
      <h4>Por favor verifica los campos del formulario</h4>
      <ul>
        <% @stock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :product_id, "Producto" %>
    <%= f.collection_select :product_id, Product.all, :id, :name, { prompt: "Selecciona un producto" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :action, "Tipo de Movimiento" %>
    <%= f.select :action, options_for_select([
      ["Entrada (agregar stock)", "addition"],
      ["Salida (remover stock)", "removal"],
      ["Devolucion", "devolution"]
    ]), { prompt: "Selecciona el tipo de movimiento" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, "Cantidad" %>
    <%= f.number_field :quantity, class: "form-control", min: 1, placeholder: "Cantidad de unidades" %>
  </div>

  <div class="form-group">
    <%= f.label :cost, "Costo Unitario" %>
    <%= f.number_field :cost, class: "form-control", readonly: true, placeholder: "Se llena automaticamente" %>
  </div>

  <div class="form-actions actions">
    <%= f.submit "Registrar Movimiento", class: "btn btn-primary btn-uniform" %>
    <%= link_to "Volver", stocks_path, class: "btn btn-secondary btn-uniform" %>
  </div>

  <script>
    (function() {
      var productSelect = document.querySelector('[name="stock[product_id]"]');
      var costField = document.querySelector('[name="stock[cost]"]');
      var prices = <%= Product.all.map { |p| [p.id, p.price] }.to_h.to_json.html_safe %>;

      if (productSelect && costField) {
        productSelect.addEventListener("change", function() {
          costField.value = prices[this.value] || "";
        });
      }
    })();
  </script>
<% end %>