<h1><%= @category.name %></h1>

<div class="category-detail">
  <p><strong>Descripcion:</strong> <%= @category.description || "Sin descripcion" %></p>
  <p><strong>Productos relacionados:</strong> <%= @category.products.count %></p>
</div>

<div class="actions button-group">
  <%= link_to "Editar", edit_category_path(@category), class: "btn btn-primary btn-uniform" %>
  <%= link_to "Volver", categories_path, class: "btn btn-secondary btn-uniform " %>
</div>
